<h1 style="
    text-align: center;
    font-family: Arial, Helvetica;
"> ¡Bienvenido a LocalLink! 🌟 Confirma tu cuenta ahora.</h1>

<p style="font-family: Arial, Helvetica;">¡Estamos emocionados de tenerte a bordo en LocalLink! 🎉 Para comenzar a explorar todas las increíbles funciones que tenemos para ti, solo falta un pequeño paso: ¡confirmar tu cuenta!</p>

<a  style="
    display: block;
    font-family: Arial, Helvetica;
    padding: 1rem;
    background-color: #00C897;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
" href="<%= url %>"> Confirma tu cuenta ahora </a>

<p style="font-family: Arial, Helvetica;">Si no puedes acceder a este enlace, visita: <%= url %></p>
<p style="font-family: Arial, Helvetica;">Si no solicitaste esto pedes ignorarlo</p>